{% if word %}
  <div class="row justify-content-center">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Snake Case</th>
        <th scope="col">Camel Case</th>
        <th scope="col">Pascal Case</th>
        <th scope="col">Hits</th>
      </tr>
      </thead>
      <tbody>
      {% for var in word.variable_set.all %}
        <tr>
          <td>
            <div class="input-group">
              <input class="form-control" id="f0{{ forloop.counter }}" value="{{ var.snake }}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary hits" name="{{ var.id }}"
                        data-clipboard-target="#f0{{ forloop.counter }}">
                  <i class="far fa-clipboard"></i>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group">
              <input class="form-control" id="f1{{ forloop.counter }}" value="{{ var.camel }}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" name="{{ var.id }}"
                        data-clipboard-target="#f1{{ forloop.counter }}">
                  <i class="far fa-clipboard"></i>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group">
              <input class="form-control" id="f2{{ forloop.counter }}" value="{{ var.pascal }}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" name="{{ var.id }}"
                        data-clipboard-target="#f2{{ forloop.counter }}">
                  <i class="far fa-clipboard"></i>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="row m-1 align-items-center" id="hits-{{ var.id }}">{{ var.hits }}</div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(".hits").click(function () {
        var pk = $(this).attr('name')
        $.ajax({ // .hits 버튼을 클릭하면 <새로고침> 없이 ajax로 서버와 통신하겠다.
            type: "POST", // 데이터를 전송하는 방법을 지정
            url: "{% url 'store:hits' %}", // 통신할 url을 지정
            data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터 전송시 옵션
            dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정, 없으면 알아서 판단
            // 서버측에서 전송한 Response 데이터 형식 (json)
            // {'check': check,'hits': variable.hits}
            success: function (response) { // 통신 성공시 - 동적으로 hits 변경
                alert(response.message);
                $('#hits-' +{{ var.id }}).html(response.hits);
            },
            error: function (request, status, error) { // 통신 실패시 - 로그인 페이지 리다이렉트
                alert("로그인이 필요합니다.")
                window.location.replace("{% url 'accounts:login' %}")
                //  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        });
    })
</script>