{% if word %}
  <div class="row justify-content-center">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Snake Case</th>
        <th scope="col">Camel Case</th>
        <th scope="col">Pascal Case</th>
        <th scope="col">Hits</th>
      </tr>
      </thead>
      <tbody>
      {% for var in word.variable_set.all %}
        <tr>
          <td>
            <div class="input-group">
              <input class="form-control" id="f0{{ forloop.counter }}" value="{{ var.snake }}">
              <div class="input-group-append">
                <button id="hits1" class="btn btn-outline-secondary" name="{{ var.id }}"
                        data-clipboard-target="#f0{{ forloop.counter }}">
                  <i class="far fa-clipboard"></i>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group">
              <input class="form-control" id="f1{{ forloop.counter }}" value="{{ var.camel }}">
              <div class="input-group-append">
                <button id="hits2" class="btn btn-outline-secondary" name="{{ var.id }}"
                        data-clipboard-target="#f1{{ forloop.counter }}">
                  <i class="far fa-clipboard"></i>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group">
              <input class="form-control" id="f2{{ forloop.counter }}" value="{{ var.pascal }}">
              <div class="input-group-append">
                <button id="hits3" class="btn btn-outline-secondary" name="{{ var.id }}"
                        data-clipboard-target="#f2{{ forloop.counter }}">
                  <i class="far fa-clipboard"></i>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="row m-1 align-items-center" id="hits-{{ var.id }}">{{ var.hits }}</div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}