#title {
    font-family: 'Dancing Script', cursive;
}

body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-repeat: no-repeat;
    background-size: auto;
    align-items: center;
    background-attachment: scroll;
    height: 100vh;
}

.card {
    background-color: transparent;
}