<div class="container">
  <form method="POST" action="">
  {% csrf_token %}
  {#  {{ form.as_p }}#}
    <div class="form-row justify-content-md-center">
      <div class="form-group col-md-2">
        <label for="lang" class="sr-only">언어</label>
        <select class="form-control" name="lang" id="lang">
          <option>Python</option>
          <option>JavaScript</option>
          <option>Java</option>
          <option>C</option>
          <option>C++</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="word" class="sr-only">원하는 단어</label>
        <input type="text" class="form-control" id="word" name="word" placeholder="원하는 단어를 입력해주세요.">
      </div>
      <div class="col-auto">
        <input type="submit" class="btn btn-outline-secondary" value="Cook 🍽">
      </div>
    </div>
  </form>
</div>
